{% extends 'base.html.twig' %}

{% block title %}Détails du {{ product.name }}{% endblock %}

{% block body %}


    <main>

        <div class="container-lg">
            <div class="row">
                <!-- Section header -->
                <div class="col-lg-6">

                    <section id="header">
                        <div class="container">

                            <div class="justify-content-start">
                                <a href="{{ path('products_index') }}"
                                   class="text-decoration-none">
                                <span>
                                    <button class="btn btn-danger mt-2">
                                        <i class="bi bi-arrow-left"></i>
                                        Retour à la liste
                                    </button>
                                </span>
                                </a>
                            </div>

                            <div id="carouselExample" class="carousel slide">
                                <div class="carousel-inner">

                                    {% for image in product.images %}
                                    <div class="carousel-item {{ (loop.first) ? 'active' : '' }}">
                                        <img  src="{{ asset('assets/images/uploads/products/mini/300-300-') ~ image.name}}"
                                              class="img-fluid mb-2 mt-2"
                                              width="400"
                                              height="300"
                                              alt="{{ image.name }}">
                                    </div>
                                    {% endfor %}

                                </div>

                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                   </section>

                </div>

                <!-- Section description -->
                <div class="col-lg-6">
                    <div class="row">

                        <div class="col-lg-12">
                            <section id="description">

                                {% if product.stock > 0 %}
                                    <a href ="{{ path('cart_add', {id : product.id}) }}" class="fw-4 m-2 btn btn-success ">
                                        <p class="my-1 bi bi-cart-check mx-1">
                                            <span class="m-2">Ajout Panier</span>
                                        </p>
                                    </a>
                                {% else %}
                                        <p class="text-danger bi bi-cart-x">En rupture de stock</p>
                                {% endif %}

                                <!--<div class="m-2 fw-4"><p>Ajouter au panier</p></div>-->
                                <div class="m-2 d-lg-flex">
                                    <h1>{{ product.name }}</h1>

                                    <h2>{{ product.description }}</h2>
                                </div>
                                <div class="m-2">
                                    <h3>{{ product.categories.parent.name == 'Services' ? 'Date de disponibilité' : 'Année de la mise en circulation' }} :
                                        {{ product.years }}
                                    </h3>
                                </div>

                                <div class="m-3 mt-5 d-flex">
                                    <h4 class=""> Catégorie : {{ product.categories.name }}
                                    </h4>

                                </div>

                                <div class="m-3 mt-5 d-flex">
                                    <h4 class="">
                                        {% if product.categories.parent.name == 'Services' %}
                                            Type de service :
                                        {% else %}
                                            Marque/Modèle :
                                        {% endif %}
                                        {{ product.modeles }}
                                    </h4>
                                </div>

                                <div class="mb-2">
                                    <h5 class="m-3 mt-5">{{ product.categories.parent.name == 'Services' ? 'Description du service :' : 'Description du produit :' }}</h5>
                                    <ul class="list-unstyled">
                                        <li><p>{{ product.description }}</p></li>
                                        <li><p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                                Odit inventore possimus repudiandae molestiae quaerat cum, velit,
                                                saepe excepturi itaque officia aperiam neque voluptate atque! Impedit
                                                veritatis magni quibusdam labore ea?</p></li>
                                    </ul>
                                </div>
                            </section>
                        </div>

                        <!-- Section image modal & poids -->
                        <div class="col-lg-12">
                            <section id="modal-image">
                                <div>

                                    <div class="m-2">

                                        {% for image in product.images %}
                                            <button class="btn" data-bs-toggle="modal" data-bs-target="#imageModal{{ loop.index }}">
                                                <img
                                                        width="50px"
                                                        height="50px"
                                                        src="{{ asset('assets/images/uploads/products/mini/300-300-') ~ image.name }}"
                                                        alt="{{ product.name }}">
                                            </button>
                                        {% endfor %}

                                    </div>

                                    <div class="mb-3 mt-2">
                                        <div class="d-flex flex-row justify-content-between align-items-center">



                                            <div>
                                                <h5 class="m-2 mb-4">
                                                    {% if product.categories.parent.name == 'Services' %}
                                                        Disponibilité :
                                                    {% else %}
                                                        Stock :
                                                    {% endif %}
                                                </h5>
                                                <div class="btn my-btn-danger mb-2 btn-danger">{{ product.stock }}</div>
                                            </div>

                                            <div>
                                                <h5 class="m-2 mb-4">
                                                    {% if product.categories.parent.name == 'Services' %}
                                                        Durée :
                                                    {% else %}
                                                        Kilométrage :
                                                    {% endif %}
                                                </h5>
                                                <div class="btn my-btn-danger mb-2 btn-danger">
                                                    {{ product.kilometrage }} {{ product.categories.parent.name == 'Services' ? 'Heures' : 'Km' }}
                                                </div>
                                            </div>

                                            <div>
                                                <h5 class="m-2 mb-4">
                                                    {% if product.categories.parent.name == 'Services' %}
                                                        Prix :
                                                    {% else %}
                                                        Prix :
                                                    {% endif %}
                                                </h5>
                                                <div class="btn my-btn-danger mb-2 btn-danger">{{ product.price / 100 }} €</div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>

                        <!-- Modal 1 -->
                        {% for image in product.images %}
                            <div
                                    class="modal fade"
                                    id="imageModal{{ loop.index }}"
                                    tabindex="-1"
                                    aria-labelledby="imageModalLabel{{ loop.index }}"
                                    aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="imageModalLabel1">Image 1</h5>
                                        <button
                                                type="button"
                                                class="btn-close"
                                                data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <img
                                                        src="{{ asset('assets/images/uploads/products/mini/300-300-') ~ image.name }}"
                                                        alt="{{ image.name }}"
                                                        width="600"
                                                        height="300"
                                                        class="img-fluid">
                                            </div>
                                            <div class="col-lg-6">
                                                <h6>Title</h6>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                    Donec accumsan, ligula id convallis imperdiet,
                                                    lorem nisl elementum mi, non finibus sem nisi eu ante.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button
                                                type="button"
                                                class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}


                    </div>
                </div>

            </div>
        </div>

    </main>




{% endblock %}
