{% extends 'base.html.twig' %}

{% block title %}Liste des produits - {% endblock %}

{% block body %}


    <main>

        <div class="container-lg">
            <div class="row">

                <div class="col-lg">
                    <h1 class="products">Nos Produits & Services</h1>
                </div>


                <div class="col-lg-6">
                    <label for="searchInput" class="input-group">
                            <input type="text" class="form-control m-2 p-2 rounded-5"
                                   id="searchInput" placeholder="Recherche">
                        <div class="input-group-append">
                            <button class="btn btn-light m-2 p-2" type="button" id="searchButton">
                                <i class="bi bi-search"></i>
                            </button>
                        </div>
                    </label>
                </div>


            </div>
        </div>

        <!-- Main cars -->

        <div class="container">
            <div class="row">

                {% set foundSomething = false %}
                <div id="noResultsMessage" style="display: none">
                    <h4>Aucun produit dans aucune catégorie trouvé</h4>
                </div>

                {% for category in categories %}
                    {% if category.parent == null %}
                        <div class="col-12 m-3 py-3 card-category">
                            <h2 id="title-category">{{ category.name }}</h2>
                        </div>
                    {% else %}
                        <div class="col-lg-4">
                            <div class="card mb-3" style="background: #E8E4E4;">
                                <div class="row g-0">
                                    <div class="col-md-5 col-lg-12">

                                        <!--<img src=""
                                             alt="{{ category.name }}"
                                             class="img-fluid m-2"
                                             width="400"
                                             height="300">-->
                                    </div>

                                    <div class="col-md-7 col-lg-12">
                                        <div class="card-body mx-3 text-md-center text-lg-end">
                                            <h3 class="card-title fw-bold" id="title-card">
                                                {{ category.name }}
                                            </h3>

                                            <h4 class="card-slug fst-italic" id="title-slug">
                                                {{ category.slug }}
                                            </h4>

                                            <p class="card-text fs-5 fst-italic" id="title-description"> Desc :
                                                {% if category.products|length == 0 %}
                                                    Aucun produit trouvé
                                                {% else %}
                                                    {% set foundSomething = true %}
                                                    Produit disponible
                                                    <!--{{ category.products.first.name }}
                                                    {{ category.products.first.description }}
                                                {category.description }-->
                                                {% endif %}
                                            </p>

                                           <!-- <p class="card-text fs-5"
                                               id = "title-modele">Modèle :
                                            </p>

                                            <p class="card-text fs-5 filter-year"
                                               id = "title-year">Année :
                                                <span></span>
                                            </p>

                                            <p class="card-text fs-5 filter-kilometrage"
                                               id = "title-kilometrage">Kilométrage :
                                                <span></span>
                                            </p>

                                            <p class="card-text fs-5"
                                               id = "title-price">Prix :
                                                <span class="fw-bold"></span>
                                            </p> -->

                                            <!-- Ajoutez d'autres informations sur le produit ici -->

                                            <a href="{{ path('categories_list', {slug: category.slug}) }}"
                                               class="btn btn-danger">Voir les {{ category.name }}
                                                <i class="mx-1 bi bi-tools" style="color:#D9777F"></i>
                                            </a>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    {% endif %}
                {% endfor %}


            </div>

            <!-- Creation d'une nouvelle voiture -->
            {% if app.user and is_granted('ROLE_EMPLOYE') %}
                <a href="{{ path('admin_products_add') }}">
                    <button
                            class="btn btn-danger mx-2 my-2 bi bi-plus-circle">
                        Ajouter un produit
                    </button>
                </a>
            {% endif %}
        </div>

        {% block javascripts %}
            <script src="{{ asset('Assets/JS/Used_cars_listing.js') }}" defer></script>
        {% endblock %}


    </main>



{% endblock %}

