{{ form_start (productForm) }}
   {{ form_row (productForm.name) }}
   {{ form_row (productForm.categories) }}
   {{ form_row (productForm.description) }}
   {{ form_row (productForm.modeles) }}
   {{ form_row (productForm.years) }}
   {{ form_row (productForm.kilometrage) }}
   {{ form_row (productForm.price) }}
   {{ form_row (productForm.stock) }}


   {# On affiche les images, si on est en édition #}
   {% if app.request.attributes.get('_route') =='admin_products_edit' %}
       <h2>Images</h2>
       {% for image in product.images %}
           <div class="py-3">
               <img src="{{ asset('assets/images/uploads/products/mini/300-300-' ~
                   image.name ) }}" alt="Image" width="150">
               <a href="{{ path('admin_products_delete_image',
                   {id: image.id}) }}" data-delete data-token="{{ csrf_token('delete' ~ image.id) }}">Supprimer</a>
           </div>
       {% endfor %}
   {% endif %}

   {{ form_row (productForm.images) }}

<button type="submit" class="btn btn-danger mb-2 mt-3">{{ button_label | default('Ajouter') }}</button>
{{ form_end(productForm) }}