{% extends './base.html.twig' %}

{% block title %}Panel d'administration - Utilisateurs{% endblock %}

{% block body %}
<main>




        <div class="container">
            <div class="row">

                <section class="d-none d-lg-block bg-light text-center">
                    <div class="container">
                        <div class="row">

                            <div class="col-lg-6 d-flex align-items-center justify-content-center">

                                <!-- Photo de l'admin -->
                                <img src="/Assets/images/Dashboard page/Avatar Admin.png"
                                     width="80" height="auto"
                                     class="img-fluid m-2" alt="Photo de l'admin">
                                <p class="text-center fs-5 fw-bold" id="adminAdressMail"></p>

                            </div>

                        </div>
                    </div>
                </section>

                <div class="">
                    {% include "_template/_adminnav2.html.twig" %}
                </div>



                <div class="col-lg-6">
                    <!-- Contenu principal -->
                    <div class="container mt-3 justify-content-center text-center">
                        <div class="row">

                            <!-- Barre de recherche utilisateur -->
                            <div class="col-6 col-lg-12">
                                <div class="input-group ">

                                    <div class="m-2 justify-content-start text-start">
                                        <h3>Utilisateur</h3>
                                        <p id="employeeCount"></p>
                                    </div>

                                    <input type="text" class="form-control m-2 p-2" placeholder="Recherche">

                                    <div class="input-group-append">
                                        <button class="btn btn-light m-2 p-2" type="button">
                                            <i class="bi bi-search"></i>
                                        </button>
                                    </div>

                                </div>
                            </div>

                            <!-- Bouton "Créer Compte"-->

                            <!--
                            <div class="col-12 col-lg-6 py-2 justify-content-end text-end">
                            -->

                            <!--
                <a href={{ path('app_register') }}>
                <button

                        class="btn btn-danger btn-lg-lg btn-sm"
                        data-bs-toggle="modal"
                        data-bs-target="#createAccountModal">
                    <i class="bi bi-person-add"></i> Créer un Compte
                </button>
                </a>
                -->

                                <div class="justify-content-start">

                                    <a href="{{ path('admin_index') }}"
                                       class="text-decoration-none">
                                         <span>
                                            <button class="btn btn-danger mt-2">
                                                <i class="bi bi-arrow-left"></i>
                                                Retour au Panel d'administration
                                            </button>
                                        </span>
                                    </a>

                                </div>

                            </div>

                        </div>

                    </div>

                        <main class="border border-light bg-white p-2 container-lg">
                        <!-- Votre contenu utilisateur -->
                        <h1>Liste des utilisateurs</h1>
                        <table class="table">

                            <thead>
                            <tr>
                                <th>Picto</th>
                                <th>ID</th>
                                <th>Prénom</th>
                                <th>Nom</th>
                                <th>Email</th>
                                <th>Rôles</th>
                                <th>Vérifié</th>
                                <th>Action</th>
                            </tr>
                            </thead>

                            <tbody class="list-unstyled">
                            {% for user in users %}
                                <tr class="employee">
                                    <td class="picto">
                                        <img src="/Assets/images/Dashboard page/avatar.png"
                                             alt="Pictogramme"
                                             class="img p-2"
                                             width="72">
                                    </td>
                                    <td class="id">{{ user.id }}</td>
                                    <td class="firstname">{{ user.firstname }}</td>
                                    <td  class="lastname">{{ user.lastname }}</td>
                                    <td class="list-unstyled email-name" id="adminEmail">{{ user.email }}</td>

                                    <td>
                                        {% for role in user.roles  %}
                                            {% if role == "ROLE_ADMIN"  %}
                                                {% set name = "Administrateur" %}
                                                {% set color = "danger" %}
                                            {% elseif role == "ROLE_EMPLOYE" %}
                                                {% set name = "Employé" %}
                                                {% set color = "warning" %}
                                            {% else  %}
                                                {% set name = "Membre" %}
                                                {% set color = "success" %}
                                            {% endif  %}
                                            <span class="badge bg-{{ color }}">{{ name }}</span>
                                        {% endfor  %}
                                    </td>

                                    <td>
                                        <div class="form-check form-switch">
                                            <input
                                                    class="form-check-input"
                                                    type="checkbox"
                                                    role="switch"
                                                    id="switch{{ user.id }}"
                                                    {{user.isVerified ? "checked" : ""}} disabled>
                                            <label
                                                    class="form-check-label"
                                                    for="switch{{ user.id }}">
                                            </label>
                                        </div>
                                    </td>

                                    <td>
                                        <ul class="list-unstyled">

                                            <!-- Modification de tout les comptes possible. -->
                                            <button
                                                    class="btn btn-responsive btn-sm btn-danger m-2"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#editUserModal"
                                                    data-user-id="<?= $Dashboard->user_id ?>"
                                                    data-username="<?= $Dashboard->name_users ?>"
                                                    data-email="<?= $Dashboard->email ?>"
                                            >
                                                <li>
                                                    <i class="bi bi-pencil"></i> Modifier
                                                </li>
                                            </button>

                                            {% if 'ROLE_ADMIN' not in user.roles %}
                                                <!-- Impossible de se supprimer le compte Admin -->
                                                <button
                                                        class="btn btn-responsive btn-sm btn-danger m-2"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#confirmDeleteModal"
                                                        data-user-id="<?= $Dashboard->user_id ?>"
                                                >
                                                    <li>
                                                        <i class="bi bi-trash"></i> Supprimer
                                                    </li>
                                                </button>
                                            {% endif %}

                                            {% if 'ROLE_ADMIN' in user.roles %}
                                                <!-- Seul l'admin peut modifier les horaires -->
                                                <a href="{{ path('horaires_index') }}">
                                                    <button
                                                            class="btn btn-responsive btn-sm btn-danger m-2">
                                                        <li>
                                                            <i class="bi bi-calendar-plus me-2"></i>Horaires
                                                        </li>
                                                    </button>
                                                </a>
                                            {% endif %}

                                        </ul>
                                    </td>


                                </tr>
                            {% endfor %}
                            </tbody>

                        </table>
                    </main>
                </div>
            </div>
        </div>



        <!-- Modal de confirmation de suppression -->
        <div
                class="modal fade"
                id="confirmDeleteModal"
                tabindex="-1"
                aria-labelledby="confirmDeleteModalLabel"
                aria-hidden="true">
            <div class="modal-dialog">

                <div class="modal-content">

                    <div class="modal-header">

                        <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmation de suppression</h5>

                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <form action="/dashboard/deleteUser" method="POST">
                            <input type="hidden" name="user_id" id="deleteUserId" value="">
                            Êtes-vous sûr de vouloir supprimer cet utilisateur ?
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <button type="submit" class="btn btn-danger" id="deleteButton">Supprimer</button>
                    </div>

                    </form>

                </div>

            </div>
        </div>




        <!-- Modal de modification -->
        <div class="modal fade"
             id="editUserModal"
             tabindex="-1"
             aria-labelledby="editUserModalLabel"
             aria-hidden="true"
        >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editUserModalLabel">Modifier l'utilisateur</h5>
                        <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <form action="/dashboard/modifyUser" method="POST">
                            <input type="hidden" id="editUserId" name="user_id" min="1">

                            <div class="mb-3">
                                <label for="editUsername" class="form-label">Nom d'utilisateur</label>
                                <input
                                        type="text"
                                        class="form-control"
                                        id="editUsername"
                                        name="username"
                                        placeholder="Nom d'utilisateur"
                                        required>
                            </div>

                            <div class="mb-3">
                                <label for="editEmail" class="form-label">Adresse e-mail</label>
                                <input
                                        type="email"
                                        class="form-control"
                                        id="editEmail"
                                        name="email"
                                        placeholder="Adresse e-mail"
                                        required>
                            </div>

                            <div class="mb-3">
                                <label for="editPassword" class="form-label">Mot de passe</label>
                                <input
                                        type="password"
                                        class="form-control"
                                        id="editPassword"
                                        name="password"
                                        placeholder="Mot de passe"
                                        pattern=".{8,}"
                                        required>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Annuler</button>
                                <button type="submit" class="btn btn-danger">Enregistrer</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>



        <script src="/Assets/JS/Dashboard.js"></script>

    {% endblock %}