{% extends 'base.html.twig' %}

{% block title %}La Liste des {{ category.name }} {% endblock %}

{% block body %}


    <main>



        <div class="container-lg">
            <div class="row">

                <div class="col-lg">
                    <h1 class="products">
                       La Liste  des {{ category.name }}
                    </h1>
                </div>



                <div class="col-lg-6">
                    <div class="input-group">
                        <input type="text" class="form-control m-2 p-2 rounded-5"
                               id="searchInput" placeholder="Recherche">
                        <div class="input-group-append">
                            <button class="btn btn-light m-2 p-2" type="button" id="searchButton">
                                <i class="bi bi-search"></i>
                            </button>
                        </div>
                    </div>
                </div>


            </div>
        </div>


        <!-- Barre de filtrage -->
        <section id="filter-sidebar">
            <div class=" filtrage-bar ">
                <h5 class="m-2 p-2 filtrage-title">
                    Liste des produits <br> par filtre
                </h5>
                <div class="gray-bar d-flex align-items-center">
                    <div class="form-check ">
                        <input class="form-check-input"
                               type="checkbox"
                               value=""
                               id="checkbox1"
                               name="years">
                        <label
                                class="form-check-label cursor-pointer"
                                for="checkbox1">
                            <span class="checkbox-icon pe-none">+2020</span>
                        </label>
                    </div>
                    <div class="form-check">
                        <input
                                class="form-check-input"
                                type="checkbox"
                                value=""
                                id="checkbox2"
                                name="years">
                        <label
                                class="form-check-label cursor-pointer"
                                for="checkbox2">
                            <span class="checkbox-icon pe-none">-2020</span>
                        </label>
                    </div>
                    <div class="form-check">
                        <input
                                class="form-check-input"
                                type="checkbox"
                                value=""
                                id="checkbox3"
                                name="kilometers">
                        <label
                                class="form-check-label cursor-pointer"
                                for="checkbox3">
                            <span class="checkbox-icon pe-none">+2000km</span>
                        </label>
                    </div>
                    <div class="form-check">
                        <input
                                class="form-check-input"
                                type="checkbox"
                                value=""
                                id="checkbox4"
                                name="kilometers">
                        <label
                                class="form-check-label cursor-pointer"
                                for="checkbox4">
                            <span class="checkbox-icon pe-none">-2000km</span>
                        </label>
                    </div>
                    <div class="form-check">
                        <input
                                class="form-check-input"
                                type="checkbox"
                                value=""
                                id="checkbox5"
                                name="price">
                        <label
                                class="form-check-label cursor-pointer"
                                for="checkbox5">
                            <span class="checkbox-icon pe-none">-100000€</span>
                        </label>
                    </div>
                </div>
            </div>
        </section>


        <!-- Main cars -->

        <div class="container">
            <div class="row">

                <div class="justify-content-start">

                    <a href="{{ path('products_index') }}"  class="text-decoration-none">
                        <span>
                            <button class="btn btn-danger my-2">
                                <i class="bi bi-arrow-left"></i>
                                Retour à la liste
                            </button>
                        </span>

                    </a>
                </div>

                {% if products is defined and products.data is defined and products.data|length > 0 %}
                    {% for product in products.data %}

                        <div id="noResultsMessage" style="display: none">
                            <h4>{% if category.parent.name == 'Services' %}Aucun service trouvé{% else %}Aucune voiture trouvé{% endif %}</h4>
                        </div>

                        <div class=" col-lg-4">
                            <div class="card mb-3" style="background: #E8E4E4;">
                                <div class="row g-0">
                                    <div class="col-md-5 col-lg-12">


                                        {% if app.user and is_granted('ROLE_EMPLOYE') %}
                                            <!-- Suppression d'une voiture -->
                                            <button class="btn btn-danger mx-2 my-2 bi bi-trash3-fill deleteBtn"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#deleteModal"
                                                    data-action="{{ path('admin_products_delete', {'id': product.id}) }}">
                                            </button>



                                        <!-- Modal de suppression -->

                                        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="deleteModalLabel">Confirmation de suppression</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Êtes-vous sûr de vouloir supprimer {{product.name}} de la catégorie {{category.name}}  ?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                                        <form id="deleteForm" action="{{ path('admin_products_delete', {'id': product.id}) }}" method="POST">
                                                            <input type="hidden" name="method" value="DELETE">
                                                            <button type="submit" class="btn btn-danger">Supprimer</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Modification d'une voiture -->
                                            <a href="{{ path('admin_products_edit',
                                                {"id" : product.id }) }}">
                                                <button
                                                        class="btn btn-danger mx-2 my-2 bi bi-pencil-square">
                                                </button>
                                            </a>
                                        {% endif %}


                                        <img src="{{ asset('assets/images/uploads/products/mini/300-300-' ~ product.images[0].name) }}"
                                             alt="{{ product.name }}"
                                             class="img-fluid mx-5 mx-lg-4 col-9 col-md-10"
                                             width="400"
                                             height="400">

                                    </div>

                                    <div class="col-md-7 col-lg-12">

                                        <div class="card-body mx-3 text-md-center text-lg-end">
                                            <h3 class="card-title fw-bold"
                                                id = "title-card">{{ product.name }}
                                            </h3>


                                            <p class="card-text fst-italic"
                                               id = "title-description">
                                                {{product.description}}
                                            </p>

                                            <p class="card-text fs-5"
                                               id="title-modele">
                                                {% if product.categories.parent.name == 'Services' %}
                                                    Type de service:
                                                {% else %}
                                                    Modèle :
                                                {% endif %}
                                                <span>
                                                  {{product.modeles}}
                                                </span>
                                            </p>

                                            <p class="card-text fs-5 filter-year"
                                               id="title-year">
                                                {% if product.categories.parent.name == 'Services' %}
                                                    Disponible jusqu'en:
                                                {% else %}
                                                    Année :
                                                {% endif %}
                                                <span>
                                                  {{ product.years }}
                                                </span>
                                            </p>

                                            <p class="card-text fs-5 filter-kilometrage"
                                               id="title-kilometrage">
                                                {% if product.categories.parent.name == 'Services' %}
                                                    Durée:
                                                {% else %}
                                                    Kilométrage :
                                                {% endif %}
                                                <span>
                                          {{ product.kilometrage }} {{ product.categories.parent.name == 'Services' ? 'Heures' : 'Km' }}
                                                </span>
                                            </p>

                                            <p class="card-text fs-5"
                                               id = "title-price">Prix :
                                                <span class="fw-bold">
                                                {{ product.price /100 }} €
                                            </span>
                                            </p>

                                            <a href="{{ path('products_details',
                                                {"slug" : product.slug }) }}"
                                               class="btn btn-danger">Détails
                                                <i class="mx-1 bi bi-info-circle-fill" style="color:#D9777F"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                {% endfor %}

                {% else %}
                    <!-- Code à afficher lorsque la catégorie est vide -->
                    <p>Aucun produit disponible dans cette catégorie pour le moment.</p>

                {% endif %}
                {% if products is defined and products.pages is defined %}
                {% set path = 'categories_list' %}
                {% set slug = category.slug %}
                {% set pages = products.pages %}
                {% set currentPage = products.page %}
                {% include "_template/_pagination.html.twig" %}
                {% endif %}

            </div>

            <!-- Creation d'une nouvelle voiture -->
            {% if app.user and is_granted('ROLE_EMPLOYE') %}
                <a href="{{ path('admin_products_add') }}">
                    <button
                            class="btn btn-danger mx-2 my-2 bi bi-plus-circle">
                        Ajouter {{category.name}}
                    </button>
                </a>
            {% endif %}
        </div>

        {% block javascripts %}
            <script src="{{ asset('Assets/JS/Used_cars_listing.js') }}" defer></script>
        {% endblock %}
    </main>

{% endblock %}