{% extends 'base.html.twig' %}

{% block title %}Liste des catégories{% endblock %}


{% block body %}



    <div class="container">
        <div class="row">

            <div class="justify-content-start">

                <a href="{{ path('admin_index') }}"
                   class="text-decoration-none">
                     <span>
                         <button class="btn btn-danger mt-2">
                         <i class="bi bi-arrow-left"></i>
                         Retour au Panel d'administration
                         </button>
                     </span>
                </a>
            </div>

            {% include "_template/_adminnav.html.twig" %}

            <main class="col-9 border border-light bg-white p-2">

                <h1>Liste des catégories.</h1>
                <table class="table">
                    <thead>
                       <tr>
                          <th class="">ID</th>
                          <th class="">Nom</th>
                          <th class="">Parent</th>
                          <th class="">Slug</th>
                          <th class="d-none d-sm-table-cell">Ordre</th>
                       </tr>
                    </thead>

                    <tbody>
                        {% for categorie in categories %}
                            <tr>
                                <td  class="">{{ categorie.id }}</td>
                                <td  class="">{{ categorie.name }}</td>

                                <td  class="">
                                    {% if categorie.parent is not null %}
                                    {{ categorie.parent.name }}
                                    {% endif %}
                                </td>

                                <td class=""> {{ categorie.slug }}</td>
                                <td class="d-none d-sm-table-cell">{{ categorie.categoryOrder }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>

                </table>

            </main>

        </div>
    </div>


{% endblock %}