<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-">
    <title>{% block title %}Bienvenu sur le E-Commerce du {% endblock %} Garage_V_Parrot - Symfony 6</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22>
    <text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

    <!-- Typographie Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,
    500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Rajdhani:
    wght@300;400;500;600;700&display=swap"
          rel="stylesheet">

    <!--<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/assets/CSS/style.css" crossorigin="anonymous">-->

    <!-- Feuille de styles -->
    <link rel="stylesheet" href="{{ asset('assets/CSS/bootstrap.css') }}" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('assets/CSS/style.css') }}" crossorigin="anonymous">

    {% block stylesheets %}{% endblock %}

    <!-- Fichiers JavaScript -->
    <script src="{{ asset('assets/JS/bootstrap.js') }}" crossorigin="anonymous" type="text/javascript" defer></script>
    <script src="{{ asset('assets/JS/jquery-3.6.0.min.js') }}" crossorigin="anonymous" type="text/javascript"></script>
    <script src="{{ asset('assets/JS/script.js') }}" crossorigin="anonymous" type="text/javascript"></script>
    {% block javascripts %}{% endblock %}
</head>

<body>


    <!-- NavBar -->
    {% include "_template/_navbar.html.twig" %}

    <!-- On vérifie sur l'utilisateur connecté est vérifier ou pas -->
    {% if app.user and app.user.isVerified == false %}
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert"
                    aria-label="Close"></button>
            <div class="alert-message">
                <strong>Votre compte n'est pas activé</strong>, <a href ="{{ path('resend_verif') }}">renvoyer le lien d'activation.</a>
            </div>
        </div>
    {% endif %}

    <!-- On affiche nos messages flash -->
    {% include "_template/_flash.html.twig" %}

    {% block body %} {% endblock %}

    <!-- Footer -->
    {% include "_template/_footer.html.twig" %}

<!--<script src="/public/assets/JS/script.js" crossorigin="anonymous" type="text/javascript"></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.js" crossorigin="anonymous" type="text/javascript"></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.js" crossorigin="anonymous" type="text/javascript"></script>-->
</body>
</html>
